<!DCOTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width-device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie-edge">
		<title> {{title}} </title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css" />
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
	    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<!---<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>--->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/card.js" integrity="sha512-lIdTIGaSjFWSxmWDSyKbLz1OJ3c1o4Vm6FXRguKH1HzOVCRSF8Ypg30+yga7j5TUMh4Sf5iFvC9/NQQr1KumQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/card.min.js" integrity="sha512-bap2DVGWmQ620Jpimq4jr/z96eYAryS1h7FrrBY2ndRkLAD465BDAGr5k5OIxkd92J5Nt1hRJlhXSra6ECbZdg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/card.css" integrity="sha512-jwig9JMb/5BPdKZsQfUaybbQEQgtZheK7tRYJassOSmTuljmZZ1PN8U2eMFzvz0lBIyB3cZ9KSCcFH1uJNTc6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/card.min.css" integrity="sha512-8wlDpmu9nKtbrmqKrfSnBZy4BP/ct6Rg14EiTlDV91CF1ywH3Lr22E/QRG3g2uOMDTcjFtdaq7Me56GDq6YXMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/jquery.card.js" integrity="sha512-h15ylYgYf0sv1RxQrSIG4OgM8vlpVuceBNGATR6hM3VEvF/9Sezw1xRhRZDXMaPCI4OUrhddN/n2Xw64yJTt0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/card/2.5.4/jquery.card.min.js" integrity="sha512-DnNcolKAtIP6iRLIfLZeLrFF9+hjDoycDDUvlw1q0agcOS7QwTBPs58V9cBCL8iQ+GeyumnahDkREpTSs6Jm1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link rel="stylesheet" href="/main.css" />
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/web-socket-js/1.0.0/web_socket.js" integrity="sha512-P61hA8M2fuA0NxiHXTb+Ul1znVk0ybLXejE3xWtXJsl6SVG09qnFrw3XgZTBpoysP88jUw9UEVzDwYaRjPkwCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		 
		 <!---<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js?ver=1.11.2"></script>--->
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/spin.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda.min.js"></script>

		 <link rel="stylesheet" href="/main2.css" />

		 <script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.8/glider.js" integrity="sha512-ILWSrKdpmM5K9QcqBevuJiiaLuCXI6UnMtjoI7R8d2uFAZ02EB4tkJCaWqeOXk5sXzdzc7qyu04YmD/aHPVAlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.8/glider.css" integrity="sha512-xcz2kgNDovRs9/wYWii2XSBEDlpaTq99iewiGN3PR/pNnPaSDiw6wHpXU0kFyonevdVj/MkeesxMII8sgolFCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		 <link rel="shortcut VSMX icon" href="/imgs/logo_final.png">

		 <!--===============================================================================================-->	
 <link rel="icon" type="image/png" href="/public/assets/images/icons/favicon.ico"/>
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/bootstrap/css/bootstrap.min.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/animate/animate.css">
 <!--===============================================================================================-->	
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/css-hamburgers/hamburgers.min.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/animsition/css/animsition.min.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/select2/select2.min.css">
 <!--===============================================================================================-->	
   <link rel="stylesheet" type="text/css" href="/public/assets/vendor/daterangepicker/daterangepicker.css">
 <!--===============================================================================================-->
   <link rel="stylesheet" type="text/css" href="/public/assets/css/util.css">
   <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">

     <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="/public/assets/vendor/simplebar/dist/simplebar.min.css"/>

    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="/public/assets/css/theme.min.css">
    <link rel="stylesheet" href="/public/assets/css/iziToast.min.css">






	</head>

	<body>
		{{{body}}}
		<!---<div class="container p-4">
	      <div class="row">
	      </div>
		</div>
	    <script type="text/javascript">
	    </script>--->
	    <!--<div id="map"></div>-->
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIgHRdKzKEajo2T9uICvkdIHToQxgDfHg&callback=initMap"></script>-->
	    <!-- <script src="/util.js"></script> util functions included in the CodyHouse framework 
		<script src="/main.js"></script> -->
	</body>
</html>